html {
  background-color: #01001f;
  background-image: url("assets/img/brick-wall-dark.png");

  body {
    background-color: transparent;
    color: white;
  }
}

.app {
  .container {
    background-color: transparent;

    header {
      margin-top: 50px;
      color: white;
      margin-bottom: 25px;
    }
  }
}

@media (max-width: 768px) {
  .app {
    .container {
      padding: 0px 25px;
    }
  }
}
